* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body{
    background-color: black;
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 10;
    background-color: rgba(0,0,0,0.7);
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    flex-wrap: wrap;
}

.container h2 {
    font-size: 30px;
    font-weight: 600;
    color: rgb(153, 149, 149);
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.navbar .container ul li a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(153, 149, 149);
    padding: 10px;
    display: block;
}

/* ------------------------------------------------------- */

.home {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* الفيديو كخلفية */
.background-image video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* overlay */
.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* CONTENT */
.home .home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

/* TITLE */
.title-home {
    font-size: xxx-large;
    color: #fec700;
    text-transform: uppercase;
}

/* TEXT */
.home .home-content p {
    margin: 20px auto;
    max-width: 700px;
    letter-spacing: 2px;
    font-weight: bold;
}

/* BUTTONS */
.home .home-content button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: large;
    border-radius: 10px;
    border: 2px solid blueviolet;
    margin: 5px;
}

button:hover {
    background-color: blueviolet;
    color: white;
    opacity: 0.9;
    transition: .7s;
}

/* ===================== RESPONSIVE ===================== */

/* تابلت */
@media (max-width: 768px) {

    .container {
        flex-direction: column;
        gap: 10px;
    }

    ul {
        justify-content: center;
    }

    .home .home-content p {
        max-width: 90%;
    }
}

/* موبايل */
@media (max-width: 480px) {

    .title-home {
        font-size: 28px;
    }

    .home .home-content p {
        font-size: 14px;
        letter-spacing: 1px;
    }

    .home .home-content button {
        width: 130px;
        height: 45px;
        font-size: medium;
    }
}
